{
  "AWSTemplateFormatVersion": "2010-09-09",

  "Description": "Creating Static Website with CloudFront and S3.",

  "Parameters": {
    "CloudFrontPriceClass": {
      "Description": "The price class that corresponds with the maximum price that you want to pay for CloudFront service.",
      "Type": "String",
      "AllowedValues": ["PriceClass_100", "PriceClass_200", "PriceClass_All"],
      "Default": "PriceClass_100"
    },
    "DefaultTTL": {
      "Description": "The default time in seconds that objects stay in CloudFront caches before CloudFront forwards another request to your custom origin to determine whether the object has been updated.",
      "Type": "String",
      "Default": "3600"
    },
    "DeployGroupName": {
      "Description": "Name of the IAM Group for deployment.",
      "Type": "String"
    },
    "ErrorDoc": {
      "Description": "The file name of the error document (e.g. error.html).",
      "Type": "String",
      "Default": "error.html"
    },
    "IAMCertificateId": {
      "Description": "Custom IAM (SSL) certificate to use with CloudFront distribution.",
      "Type": "String"
    },
    "IndexDoc": {
      "Description": "The file name of the index document (e.g. index.html).",
      "Type": "String",
      "Default": "index.html"
    },
    "MaxTTL": {
      "Description": "The maximum time in seconds that objects stay in CloudFront caches before CloudFront forwards another request to your custom origin to determine whether the object has been updated.",
      "Type": "String",
      "Default": "86400"
    },
    "MinTTL": {
      "Description": "The minimum amount of time that you want objects to stay in the cache before CloudFront queries your origin to see whether the object has been updated.",
      "Type": "String",
      "Default": "0"
    },
    "StageName": {
      "Description": "Stage name of the site. See Mappings defined in the template for the bucket name and the website url.",
      "Type": "String",
      "AllowedValues": ["stage", "prod"],
      "Default": "stage"
    }
  },

  "Mappings": {
    "Defaults": {
      "prod": {
        "BillingTag": "Website-prod",
        "CloudFrontAlias": "website-prod.example.com",
        "CloudFrontOAI": "AAA0GB1JUSCV6D",
        "LogBucketName": "website-prod-example-com-logs",
        "RootBucketName": "website-prod-example-com"
      },
      "stage": {
        "BillingTag": "Website-stage",
        "CloudFrontAlias": "website-stage.example.com",
        "CloudFrontOAI": "AAAS13JJRNE2Z",
        "LogBucketName": "website-stage-example-com-logs",
        "RootBucketName": "website-stage-example-com"
      }
    }
  },

  "Conditions": {
    "IsProduction": {"Fn::Equals": ["prod", {"Ref":"StageName"}]},
    "UseCustomSSLCertificate": {
      "Fn::Not": [{"Fn::Equals": [{"Ref":"IAMCertificateId"}, ""]}]
    }
  },

  "Resources": {
    "LogBucket": {
      "Type": "AWS::S3::Bucket",
      "Properties": {
        "AccessControl": "LogDeliveryWrite",
        "BucketName": {"Fn::FindInMap": ["Defaults", {"Ref":"StageName"}, "LogBucketName"]},
        "Tags": [{"Key": "Billing", "Value": {"Fn::FindInMap": ["Defaults", {"Ref":"StageName"}, "BillingTag"]}}]
      },
      "DeletionPolicy": "Delete"
    },

    "RootBucket": {
      "Type": "AWS::S3::Bucket",
      "DependsOn": ["LogBucket"],
      "Properties": {
        "BucketName": {"Fn::FindInMap": ["Defaults", {"Ref":"StageName"}, "RootBucketName"]},
        "AccessControl": "PublicRead",
        "WebsiteConfiguration": {
          "IndexDocument": {"Ref":"IndexDoc"},
          "ErrorDocument": {"Ref":"ErrorDoc"}
        },
        "LoggingConfiguration": {
          "DestinationBucketName": {"Ref":"LogBucket"}
        },
        "VersioningConfiguration": {"Status": "Suspended"},
        "Tags": [{"Key": "Billing", "Value": {"Fn::FindInMap": ["Defaults", {"Ref":"StageName"}, "BillingTag"]}}]
      },
      "DeletionPolicy": "Delete"
    },
    "S3BucketPolicy": {
      "Type": "AWS::S3::BucketPolicy",
      "DependsOn": ["RootBucket"],
      "Properties": {
        "Bucket": {"Ref":"RootBucket"},
        "PolicyDocument": {
          "Statement": [
            {
              "Sid": "PublicReadGetObject",
              "Effect": "Allow",
              "Principal": "*",
              "Action": "s3:GetObject",
              "Resource": {"Fn::Join": ["", ["arn:aws:s3:::", {"Fn::FindInMap": ["Defaults", {"Ref":"StageName"}, "RootBucketName"]}, "/*"]]}
            },
            {
              "Sid": "CloudFrontOriginAccess",
              "Action": ["s3:GetObject"],
              "Effect": "Allow",
              "Resource": {"Fn::Join": ["", ["arn:aws:s3:::", {"Fn::FindInMap": ["Defaults", {"Ref":"StageName"}, "RootBucketName"]}, "/*"]]},
              "Principal": {
                "AWS": {"Fn::Join": ["", ["arn:aws:iam::cloudfront:user/CloudFront Origin Access Identity ", {"Fn::FindInMap": ["Defaults", {"Ref":"StageName"}, "CloudFrontOAI"]}]]}
              }
            }
          ]
        }
      }
    },
    "ManagedPolicyDeploy": {
      "Type": "AWS::IAM::ManagedPolicy",
      "DependsOn": ["RootBucket"],
      "Properties": {
        "Description": "Managed Policy for deployment",
        "PolicyDocument" : {
          "Version": "2012-10-17",
          "Statement": [
            {
              "Action": ["s3:ListBucket" ],
              "Effect": "Allow",
              "Resource": {"Fn::Join": ["", ["arn:aws:s3:::", {"Fn::FindInMap": ["Defaults", {"Ref":"StageName"}, "RootBucketName"]}]]}
            },
            {
              "Action": ["s3:PutObject", "s3:GetObject", "s3:DeleteObject" ],
              "Effect": "Allow",
              "Resource": {"Fn::Join": ["", ["arn:aws:s3:::", {"Fn::FindInMap": ["Defaults", {"Ref":"StageName"}, "RootBucketName"]}, "/*" ]]}
            },
            {
              "Action": ["CloudFront:CreateInvalidation"],
              "Effect": "Allow",
              "Resource": "*"
            }
          ]
        },
        "Groups" : [
          {"Ref":"DeployGroupName"}
        ]
      }
    },

    "CloudFront": {
      "Type": "AWS::CloudFront::Distribution",
      "Properties": {
        "DistributionConfig": {
          "Aliases": [{"Fn::FindInMap": ["Defaults", {"Ref":"StageName"}, "CloudFrontAlias"]}],
          "DefaultCacheBehavior": {
            "TargetOriginId": {"Fn::Join": ["-", ["S3", {"Fn::FindInMap": ["Defaults", {"Ref":"StageName"}, "RootBucketName"]}]]},
            "ViewerProtocolPolicy": "redirect-to-https",
            "AllowedMethods": ["DELETE", "GET", "HEAD", "OPTIONS", "PATCH", "POST", "PUT"],
            "ForwardedValues": {"QueryString": false},
            "MinTTL": {"Ref":"MinTTL"},
            "MaxTTL": {"Ref":"MaxTTL"},
            "DefaultTTL": {"Ref":"DefaultTTL"},
            "Compress": "true"
          },
          "DefaultRootObject": {"Ref":"IndexDoc"},
          "Enabled": true,
          "Logging": {
            "IncludeCookies": "false",
            "Bucket": {"Fn::Join": ["", [{"Fn::FindInMap": ["Defaults", {"Ref":"StageName"}, "LogBucketName"]}, ".s3.amazonaws.com"]]},
            "Prefix": "cf"
          },
          "Origins": [{
            "DomainName": {"Fn::Join": ["", [{"Fn::FindInMap": ["Defaults", {"Ref":"StageName"}, "RootBucketName"]}, ".s3-website-", {"Ref": "AWS::Region"}, ".amazonaws.com"]]},
            "Id": {"Fn::Join": ["-", ["S3", {"Fn::FindInMap": ["Defaults", {"Ref":"StageName"}, "RootBucketName"]}]]},
            "CustomOriginConfig": {
              "OriginProtocolPolicy": "http-only"
            }
          }],
          "HttpVersion": "http2",
          "PriceClass": {"Ref":"CloudFrontPriceClass"},
          "ViewerCertificate": {
            "CloudFrontDefaultCertificate": {"Ref":"AWS::NoValue"},
            "IamCertificateId": {
              "Fn::If": ["UseCustomSSLCertificate", {"Ref":"IAMCertificateId"}, {"Ref":"AWS::NoValue"}]
            },
            "MinimumProtocolVersion": {
              "Fn::If": ["UseCustomSSLCertificate", "TLSv1", {"Ref":"AWS::NoValue"}]
            },
            "SslSupportMethod": {
              "Fn::If": ["UseCustomSSLCertificate", "sni-only", {"Ref":"AWS::NoValue"}]
            }
          }
        }
      }
    }
  },

  "Outputs": {
    "CloudFrontURL": {
      "Value": {"Fn::GetAtt": ["CloudFront", "DomainName"]},
      "Description": "URL for Cloudfront distribution"
    },
    "RootBucketUrl": {
      "Value": {"Fn::GetAtt": ["RootBucket", "WebsiteURL"]},
      "Description": "URL for website hosted on S3"
    }
  }
}
